modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8090
externalPort = 3003

[[ports]]
localPort = 25933
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_MBkzLnWOFMzcZTiCioHGdrpllpl"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_IKuPdifHaZiDOQEvokIuYBtxMuD"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_RvUOmQIyTRuKcvZRvGHscyCiaVw"
REVENUECAT_PROJECT_ID = "proj66b3842d"
REVENUECAT_TEST_STORE_APP_ID = "app9a92932b56"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app637d240c80"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appf84733becd"
