<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572463722097-4iofschrap1ovqoluon9j41d9l31iejl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572463722097-4iofschrap1ovqoluon9j41d9l31iejl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>572463722097-1inn0d5eqfvn5e8g0eic041edqa42gpc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIKGH3kMUp8uZtcglqrNN9kKxOAzB7Jt8</string>
	<key>GCM_SENDER_ID</key>
	<string>572463722097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.met.founders</string>
	<key>PROJECT_ID</key>
	<string>metapp-b4642</string>
	<key>STORAGE_BUCKET</key>
	<string>metapp-b4642.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572463722097:ios:724b7c2675865512f4f5d0</string>
</dict>
</plist>